/* ================ Main CSS stylesheet ================ */

/* Defining the Sansation font (for all pages/scenes) */
@font-face {
    font-family: 'Sansation';
    src: url('Sansation_Bold.ttf');
}

/* ---------------- Login page ---------------- */

#welcomeLabel {
    -fx-font-family: 'Garamond';
    -fx-font-weight: bold;
}

#enstarLabel {
    -fx-font-family: 'Sansation';
}

/* login button */
#login:hover {
    -fx-border-color: black;
    -fx-border-width: 1px 1px 1px 1px; /* top right bottom left */
}

/* ---------------- Home page ---------------- */

#topLayerHBox {
    -fx-background-color: rgba(70, 0, 255, 0.9); /* slightly faded blue-purple */
}

#discussionMenuLabel {
    -fx-font-family: 'Sansation';
    -fx-font-weight: bold;
}

#disconnectButton {
    -fx-font-size: 13px;
    -fx-font-style: italic;
}

#disconnectButton:hover {
    -fx-border-color: white;
    -fx-border-width: 1px 1px 1px 1px; /* top right bottom left */
}

#joinOrCreateGroupButton:hover {
    -fx-border-color: white;
    -fx-border-width: 1px 1px 1px 1px; /* top right bottom left */
}

#discussionScrollPane .scroll-bar:horizontal {
    -fx-pref-height: 18px;
}

/* defining the "thumb" of the scrollbar (= the scrollable button) */
#discussionScrollPane .scroll-bar:horizontal .thumb {
    -fx-background-color: #d6d6c2; /* light gray */
}
#discussionScrollPane .scroll-bar:horizontal .thumb:hover {
    -fx-background-color: rgb(230, 230, 230); /* light gray */
}
#discussionScrollPane .scroll-bar:horizontal .thumb:pressed {
    -fx-background-color: rgba(230, 230, 230, 0.9); /* light gray */
}

/* defining the color of background of the scrollbar (background of the scrollbar = "track") */
#discussionScrollPane .scroll-bar:horizontal .track {
    -fx-background-color: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
}

/* hiding the left/right arrows of the scrollbar */
#discussionScrollPane .scroll-bar:horizontal .decrement-button {
    -fx-pref-width: 0px;
    -fx-background-color: Transparent;
}
#discussionScrollPane .scroll-bar:horizontal .decrement-button .decrement-arrow {
    -fx-pref-width: 0px;
    -fx-background-color: Transparent;
}
#discussionScrollPane .scroll-bar:horizontal .increment-button {
    -fx-pref-width: 0px;
}
#discussionScrollPane .scroll-bar:horizontal .increment-button .increment-arrow {
    -fx-pref-width: 0px;
    -fx-background-color: Transparent;
}

#discussionHBox {
    -fx-background-color: #d6d6c2; /* light gray */
}

#joinGroupLabel {
    -fx-font-weight: bold;
}

/* ---------------- Group Settings page ---------------- */

#doneButton:hover {
    -fx-border-color: black;
    -fx-border-width: 1px 1px 1px 1px; /* top right bottom left */
}

/* ---------------- Group Visualizer page ---------------- */

#groupVisualizerAnchorPane {
    -fx-background-color: white;
    -fx-border-color: rgba(169, 169, 169, 0.8); /* dark gray */
    -fx-border-width: 2px 2px 2px 2px; /* top right bottom left */
}
#groupVisualizerAnchorPane:hover {
    -fx-border-color: #80e5ff; /* faded light blue */
    -fx-border-width: 2px 2px 2px 2px; /* top right bottom left */
}

#openGroupButton {
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-text-fill: linear-gradient(to right, #8000ff, #400080);
}
#openGroupButton:hover {
    -fx-border-color: #8000ff; /* slightly faded blue-purple */
    -fx-border-width: 1px 1px 1px 1px; /* top right bottom left */
}

#leaveGroupButton {
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-text-fill: linear-gradient(to right, #400080, #8000ff, #400080);
}
#leaveGroupButton:hover {
    -fx-border-color: #8000ff; /* slightly faded blue-purple */
    -fx-border-width: 1px 1px 1px 1px; /* top right bottom left */
}

/* ---------------- Group Visualizer page ---------------- */

#yesButton:hover {
    -fx-border-color: black;
    -fx-border-width: 1px 1px 1px 1px; /* top right bottom left */
}

#noButton:hover {
    -fx-border-color: black;
    -fx-border-width: 1px 1px 1px 1px; /* top right bottom left */
}