/* ================ Main CSS stylesheet ================ */

/* defining the Sansation font */
@font-face {
    font-family: 'Sansation';
    src: url('Sansation_Bold.ttf');
}

/* NB : Fonts other than the default "System" font have to be overridden in this CSS stylesheet */

/* ---------------- Login page ---------------- */

#welcomeLabel {
    -fx-font-family: 'Garamond';
    -fx-font-weight: Bold;
}

#enstarLabel {
    -fx-font-family: 'Sansation';
}

#loginButton {
    -fx-border-color: Transparent;
    -fx-border-width: 1px;
}
#loginButton:hover {
    -fx-border-color: black;
}

/* ---------------- Home page ---------------- */

#topLayerHBox {
    -fx-background-color: rgba(70, 0, 255, 0.9); /* slightly faded blue-purple */
}

#disconnectButton {
    -fx-border-color: Transparent;
    -fx-border-width: 1px;
}
#disconnectButton:hover {
    -fx-border-color: white;
}

#joinOrCreateGroupButton {
    -fx-border-color: Transparent;
    -fx-border-width: 1px;
}
#joinOrCreateGroupButton:hover {
    -fx-border-color: white;
}

#groupThumbnailHBox {
    -fx-background-color: #d6d6c2; /* light gray */
}

/* removing the annoying blue border when the group thumbnail ScrollPane is pressed */
#groupThumbnailScrollPane {
    -fx-background-color: Transparent;
}

#groupThumbnailScrollPane .scroll-bar:horizontal {
    -fx-pref-height: 18px;
}

/* defining the colour of the "thumb" of the horizontal scrollbar (thumb = the long scrollable button) */
#groupThumbnailScrollPane .scroll-bar:horizontal .thumb {
    -fx-background-color: #d6d6c2; /* light gray */
}
#groupThumbnailScrollPane .scroll-bar:horizontal .thumb:hover {
    -fx-background-color: rgb(230, 230, 230); /* light gray */
}
#groupThumbnailScrollPane .scroll-bar:horizontal .thumb:pressed {
    -fx-background-color: rgba(230, 230, 230, 0.9); /* light gray */
}

/* defining the background color of the scrollbar (background of the scrollbar = "track") */
#groupThumbnailScrollPane .scroll-bar:horizontal .track {
    -fx-background-color: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet); /* rainbow colours */
}

/* hiding the left/right arrows of the horizontal scrollbar */
#groupThumbnailScrollPane .scroll-bar:horizontal .decrement-button {
    -fx-pref-width: 0px;
    -fx-background-color: Transparent;
}
#groupThumbnailScrollPane .scroll-bar:horizontal .decrement-button .decrement-arrow {
    -fx-pref-width: 0px;
    -fx-background-color: Transparent;
}
#groupThumbnailScrollPane .scroll-bar:horizontal .increment-button {
    -fx-pref-width: 0px;
}
#groupThumbnailScrollPane .scroll-bar:horizontal .increment-button .increment-arrow {
    -fx-pref-width: 0px;
    -fx-background-color: Transparent;
}

/* ---------------- Group Settings page ---------------- */

#doneButton:hover {
    -fx-border-color: black;
    -fx-border-width: 1px;
}

/* ---------------- Group Thumbnail ---------------- */

#groupThumbnailAnchorPane {
    -fx-background-color: white;
    -fx-border-color: rgba(169, 169, 169, 0.8); /* dark gray */
    -fx-border-width: 2px;
}
#groupThumbnailAnchorPane:hover {
    -fx-border-color: #80e5ff; /* faded light blue */
    -fx-border-width: 2px;
}

#openGroupButton {
    -fx-text-fill: linear-gradient(to right, #8000ff, #400080); /* shades of purple */
    -fx-border-color: Transparent;
    -fx-border-width: 1px;
}
#openGroupButton:hover {
    -fx-border-color: #8000ff; /* slightly faded blue-purple */
}

#leaveGroupButton {
    -fx-text-fill: linear-gradient(to right, #400080, #8000ff, #400080); /* shades of purple */
    -fx-border-color: Transparent;
    -fx-border-width: 1px;
}
#leaveGroupButton:hover {
    -fx-border-color: #8000ff; /* slightly faded blue-purple */
}

/* ---------------- ConfirmLeaveGroup page ---------------- */

#noButton:hover {
    -fx-border-color: black;
    -fx-border-width: 1px;
}

#yesButton:hover {
    -fx-border-color: black;
    -fx-border-width: 1px;
}

/* ---------------- Discussion page ------------------- */

#exitButton {
    -fx-border-color: Transparent;
    -fx-border-width: 1px;
}
#exitButton:hover {
    -fx-border-color: white;
}

#discussionVBox {
    -fx-background-color: #d6d6c2; /* light gray */
}

/* removing the annoying blue border when the discussion ScrollPane is pressed */
#discussionScrollPane {
    -fx-background-color: Transparent;
}

#discussionScrollPane .scroll-bar:vertical {
    -fx-pref-width: 18px;
}

/* defining the colour of the "thumb" of the vertical scrollbar (thumb = the long scrollable button) */
#discussionScrollPane .scroll-bar:vertical .thumb {
    -fx-background-color: #d6d6c2; /* light gray */
}
#discussionScrollPane .scroll-bar:vertical .thumb:hover {
    -fx-background-color: rgb(230, 230, 230); /* light gray */
}
#discussionScrollPane .scroll-bar:vertical .thumb:pressed {
    -fx-background-color: rgba(230, 230, 230, 0.9); /* light gray */
}

/* defining the background color of the scrollbar (background of the scrollbar = "track") */
#discussionScrollPane .scroll-bar:vertical .track {
    -fx-background-color: linear-gradient(to bottom, red, orange, yellow, green, cyan, blue, violet); /* rainbow colours */
}

/* hiding the top/bottom arrows of the vertical scrollbar */
#discussionScrollPane .scroll-bar:vertical .decrement-button {
    -fx-pref-height: 0px;
    -fx-background-color: Transparent;
}
#discussionScrollPane .scroll-bar:vertical .decrement-button .decrement-arrow {
    -fx-pref-height: 0px;
    -fx-background-color: Transparent;
}
#discussionScrollPane .scroll-bar:vertical .increment-button {
    -fx-pref-height: 0px;
}
#discussionScrollPane .scroll-bar:vertical .increment-button .increment-arrow {
    -fx-pref-height: 0px;
    -fx-background-color: Transparent;
}

#sendMessageLowerHBox {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1px 0px 0px 0px; /* top right bottom left */
}

/* --------------------- Message ----------------------- */

/* for both types of messages (sent and received) */
#messageAnchorPane {
    -fx-background-color: Transparent;
}

#sentMessageHBox {
    -fx-background-color: rgba(213, 128, 255, 0.6); /* faded light purple */
    -fx-border-color: Transparent;
    -fx-border-width: 2px;
}
#sentMessageHBox:hover {
    -fx-border-color: #8000ff; /* slightly faded blue-purple */
}

#receivedMessageHBox {
    -fx-background-color: white;
    -fx-border-color: Transparent;
    -fx-border-width: 2px;
}
#receivedMessageHBox:hover {
    -fx-border-color: #80e5ff; /* faded light blue */
}

/* ============================ END =========================== */